@page "/movie/edit/{Id}/{Title}"
@inject IHttpService http
@inject NavigationManager nav

@if (Movie != null)
{
    <MovieForm @ref="form" Movie="Movie" OnSaveChanges="OnSaveChanges" ImgUrl="@Movie.Poster">
        <DeleteButton>
            <button class="btn btn-danger" type="button" @onclick="ShowConfirm">Delete</button>
        </DeleteButton>
    </MovieForm>
}


<Confirmation @ref="confirm" onCancel="onCancel">
    <span>Are you sure to delete Movie: <b> @Title ? </b></span>
</Confirmation>

@code {

    [Parameter] public string Id { get; set; }
    [Parameter] public string Title { get; set; }

    Movie Movie;
    Confirmation confirm;
    MovieForm form;

    protected async override Task OnInitializedAsync()
    {
        var result = await http.Get<Movie>($"api/MovieAPI/find/{Id}");

        if (result.Success)
        {
            Movie = result.Response;
        }
        else
        {
            nav.NavigateTo("movie");
        }
    }




    private void ShowConfirm()
    {
        confirm.Show();
    }
    private void onCancel()
    {
        confirm.Hide();
    }

    private void OnSaveChanges()
    {
        Console.WriteLine("Save");
        Console.WriteLine(form.ImgBase64);
    }
}
