@page "/movie"
@page "/movie/index"
@inject IHttpService http

<div class="container-fluid">
    <div class="row">
        <h1>Movie Lists</h1>
    </div>
    <div class="row">
        <a href="movie/create" class="btn btn-primary">New Movie</a>
    </div>
    <div class="row">
        <GenericList List="Movies">
            <NullContent>
                <span style="color:red">Loading....</span>
            </NullContent>
            <EmptyContent>
                <span style="color:blue">No record found</span>
            </EmptyContent>
            <ElementTemplate>
                <IndividualMovie Movie="context" />
            </ElementTemplate>
        </GenericList>
    </div>
</div>

@code {

    List<Movie> Movies;
    protected async override Task OnInitializedAsync()
    {

        // Query from API
        var result = await http.Get<GetMovies>("api/MovieAPI/getall");
        if (result.Success)
        {
            Movies = result.Response.Movies;
        }
        else
        {
            Movies = new List<Movie>();
        }
    }
}
